{{> head}}

    {{> navbar}}

  
  <div class = "row">
      <h1>
          dibujo antiguo
        
      </h1>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus tempora nam quaerat, nemo delectus in harum suscipit libero ex voluptates accusamus consequuntur obcaecati molestiae labore debitis sint ut quia! Mollitia.
        </p>
  </div>

  <div class= "col-4">

      <img src = "assets\img\imagen_curso.png" class="img-thumbnail">

  </div>

{{> footer}}